---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-zinc-950 text-white">
    <Header />
    <main class="px-4 sm:px-6 lg:px-8 py-16">
      <article>
        <!-- Hero Image -->
        <div class="mb-8">
          {heroImage && <img class="w-full rounded-lg shadow-lg" src={heroImage} alt={title} />}
        </div>

        <!-- Title and Date -->
        <div class="text-center mb-8">
          <div class="text-lg text-gray-400">
            <FormattedDate date={pubDate} />
            {updatedDate && (
              <div class="italic text-gray-400 mt-2">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )}
          </div>
          <h1 class="text-4xl sm:text-5xl font-bold text-blue-500 mt-4">{title}</h1>
          <hr class="border-gray-600 mt-4" />
        </div>

        <!-- Article Content -->
        <div class="prose max-w-3xl mx-auto mt-8">
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
